.CodeMirror {
  height: 45vh;
  border: 1px solid #ddd;
}
#container {
  height: 40vh;
  border: 1px solid #ddd;
  text-align: center;
  overflow: hidden;
}
#container > p {
  display: block;
  margin: 0 auto;
}
.row {
  top: 0;
  margin: 0;
  position: relative;
  transition-duration: 3s, 5s;
  animation-timing-function: ease-out;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#selected {
  width: 100%;
  height: 23px;
  background: #d7d4f0;
  border: 1px solid black;
  position: fixed;
}

#btn {
  display: block;
  margin: 10px auto;
}
